html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.uireact-menu {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  border-right: 1px solid #ccc;
}
.uireact-menu.vertical {
  border-bottom: 1px solid #ccc;
}
.uireact-menu.horizontal {
  flex-direction: row;
}
.uireact-menu-item {
  flex: 1;
  padding: .2em .5em;
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  position: relative;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #fff;
}
.uireact-menu-item.has-child:after{
  position: absolute;
  right: .5em;
  top: calc(50% - .2em);
  content: '';
  width: 0;
  height: 0;
  border-top: .2em solid transparent;
  border-bottom: .2em solid transparent;
  border-left: .4em solid #111;
}
.uireact-menu.horizontal > .uireact-menu-item {
  margin-left: -1px;
  border-bottom: 1px solid #ccc;
}
.horizontal .uireact-menu-item.has-child:after{
  transform: rotate(90deg);
}
.horizontal .uireact-menu-sub .uireact-menu-item.has-child:after{
  transform: rotate(0deg);
}
.uireact-menu-item > .uireact-menu-sub {
  position: absolute;
  width: 100%;
  right: -100%;
  top: -1px;
  border-bottom: 1px solid #ccc;
  display: none;
  background: #fff;
  z-index: 1;
}
.horizontal .uireact-menu-item > .uireact-menu-sub {
  right: 0;
  top: 100%;
  left: -1px;
}
.horizontal .uireact-menu-item > .uireact-menu-sub .uireact-menu-sub {
  left: auto;
  right: -100%;
  top: -1px;
}
.horizontal .uireact-menu-item .uireact-menu-sub .uireact-menu-item {
  width: calc(100% + 1px);
}
.uireact-menu-hover > .uireact-menu-sub {
  display: block
}
.uireact-menu-sub .uireact-menu-item {
  border-right: 1px solid #ccc;
}
