html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.uireact-menu {
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  font-family: inherit;
}
.uireact-menu.horizontal {
  flex-direction: row;
}
.uireact-menu-item {
  padding: .8em .8em;
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  position: relative;
}
.uireact-menu.horizontal > .uireact-menu-item {
  margin-left: -1px;
  flex: 1;
}
.uireact-menu-sub {
  border: 1px solid #ccc;
  display: none;
  background: #fff;
}
.uireact-menu-item > .uireact-menu-sub {
  position: absolute;
  width: 100%;
  right: -100%;
  top: -1px;
  z-index: 1;
}
.horizontal .uireact-menu-item > .uireact-menu-sub {
  right: 0;
  top: 100%;
  left: -1px;
}
.horizontal .uireact-menu-item > .uireact-menu-sub .uireact-menu-sub {
  left: auto;
  right: -100%;
  top: -1px;
}
.horizontal .uireact-menu-item .uireact-menu-sub .uireact-menu-item {
  width: calc(100% + 1px);
}
.uireact-menu-active > .uireact-menu-sub {
  display: block
}
.uireact-menu-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* arrow */
.has-child > .uireact-menu-label > .uireact-menu-icon:after{
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}
/* only first level */
.horizontal > .has-child > .uireact-menu-label > .uireact-menu-icon:after {
  content: 'v'
}
